header {
    padding-inline: 32px;
}

#nav-primary {
    padding-block: 20px;
}

#nav-primary ul {
    display: flex;
    justify-content: space-between;

    list-style: none;
}

#nav-primary ul li {
    display: flex;
    gap: 8px;
    align-items: center;
}

#nav-primary a {
    font: var(--text-link);
}