header {
    padding-inline: 32px;
}

#nav-primary {
    padding-block: 20px;

    display: flex;
    justify-content: space-between;
}

#nav-primary div {
    display: flex;
    gap: 8px;
    align-items: center;
}

#nav-primary strong {
    font: var(--text-link);
}
