header {
    padding-inline: 32px;
}

/* NAV-PRIMARY */

#nav-primary {
    padding-block: 20px;

    display: flex;
    justify-content: space-between;
}

#nav-primary div {
    display: flex;
    gap: 8px;
    align-items: center;
}

#nav-primary strong {
    font: var(--text-link);
}

/* NAV-SECONDARY */

#nav-secondary {
    padding-block: 14px;
    
    display: flex;
    justify-content: space-between;

    border-block: solid 1px var(--stroke-color);
}